@charset "UTF-8";
/* CSS Document */

body{font-family: museo-sans-300;}

ul{
width:100%;
padding:5px 5px 5px 5px;
}

li:hover{}

li{
background-color: rgb(234, 229, 215); 
list-style-type:none; cursor:pointer;   
margin:5px; 
padding:5px 5px 5px 5px;
-webkit-box-shadow: 2px 2px 2px 2px #919090;
box-shadow: 2px 2px 2px 2px #919090;
}

ul div{
color: #000000;
cursor: auto; 
display: none; 
font-size: 16px; 
padding: 5px 0 5px 15px; 
text-decoration: none; 
}

ul div a{
color:#000000; 
font-weight:bold;
}

li div:hover{text-decoration:none !important;}

#toggle{
width: 100%;
margin: auto;
float: left;
}

.nav-toggle{
font-family: museo-sans-300;
color: rgb(234, 229, 215);
border: 1px solid #666666;
margin:5px; 
padding: 3px 0px 0px 2px;
font-size:	16px;
background-color: #555555;
-webkit-box-shadow: 2px 2px 2px 2px #919090;
box-shadow: 2px 2px 2px 2px #919090;
}

.nav-toggle:hover{
cursor:pointer
}