@charset "UTF-8";


/*fonts*/
@font-face {
	font-family: Caviar Dreams;
	src:url(http://livinggalapagos.org/static/Fonts/CaviarDreams.ttf);
	
}

@font-face {
	font-family: qhytsdakx;
	src:url(http://livinggalapagos.org/static/Fonts/qhyts__.ttf);
	text-transform:uppercase;
	
}

@font-face {
	font-family: museo-sans-300;
	src:url(http://livinggalapagos.org/static/Fonts/museosans_300.ttf);	
}
@font-face {
	font-family: museo-sans-500;
	src:url(http://livinggalapagos.org/static/Fonts/museo500-regular.otf)	
}


/*story text*/

.storyBox {
	padding: 7%;
	-moz-column-width: 20em;
-webkit-column-width: 20em;
-moz-column-gap: 3em;
-webkit-column-gap:3em;
overflow:auto;
}

.textHead {
	font-family:qhytsdakx;
	font-size: 4.1em;
	color: #29221c;
	line-height: 1em;
	
}

.textSubHead {
	font-family:museo-sans-500;
	font-size:1.1em;
	color:#a9a8a6;
	line-height:1.3em;
	padding-bottom: .8em;
}

.textP {
	font-family: museo-sans-300;
	font-size:1.1em;
	color: #29221c; 
	line-height:1.7em;
}

.textP p{
	font-family: museo-sans-300;
	font-size:1.1em;
	color: #29221c; 
	line-height:1.7em;
}

.pullQuote {	
	font-family:museo-sans-500;
	font-size: 1.5em;
	color:#4fa7a9;
	padding: .5em 0em;
	text-align:center;
	line-height:1.3em;
}


/*sidebar boxes*/

.sidebarBoxTitle {
	font-family: qhytsdakx;
	font-size: 2.4em;
	color: #29221c;
	line-height:1.1em;	
	
}

.sidebarBoxP {
	font-family: museo-sans-500;
	font-size:1em;
	color: #a9a8a6;	
	line-height:1.2em;
}

/*related research*/

.researchTitle {
	font-family:qhytsdakx;
	font-size: 2em;
	color:#29221c;
	line-height:1em;
text-transform:uppercase;
}

.institute {
	font-family:museo-sans-500;
	font-size: 1.2em;
	color:#dfe3d5;
	line-height:1em;	
}

.researchP, #research-box a {
	font-family:museo-sans-300;
	font-size: 1em;
	color:#29221c;	
}



/*nav text*/



.topNav, .topNav a, .topNav a:hover, .topNav a:focus{
	font-family:Caviar Dreams;
	font-size: 1.2em;
	color:#F6F3EE;	
	line-height:1.3em;
	display: inline;
	text-shadow: 2px 2px 2px #000;
}

.divNav {
	font-family:Caviar Dreams;
	font-size: 1.5em;
	line-height: 2.2em;
	color:#F6F3EE;	
	text-shadow: 2px 2px 2px #000;
}

.footerNav, .footerNav a, .footerNav a:hover, .footerNav a:focus {
	font-family:museo-sans-500;
	line-height:9.5em;
	font-size: 1em;
	color:#F6F3EE;	
	display: inline;

	text-transform:uppercase;
}

.menu-hover p {
	font-family:Caviar Dreams;
	color: #F6F3EE 
}

/*search styles*/
#filterBox {
	width:100%;
	height: 200px;
	background-color:fff;
	padding: 1.75em 0em;
	
}

#filterStories h1 {
	font-family:Caviar Dreams;
	font-size:1.4em;
	color:#f6f3ee;
	font-weight:normal;
	line-height:.8em;
}

#filterStories h2 {
	font-family:museo-sans-300;
	font-size: 1em;
	color:#f6f3ee;
	font-weight:normal;
	line-height:1.3em;
	margin-top:1em;
}

#filterStories h3 {
	font-family:museo-sans-500;
	font-size: 1.2em;
	color:#F6F3EE;
	font-weight:normal;
	line-height:1.2em;
	margin-top:1em;
}

.gridItem {
	margin-top: .5em;
height: 280px;
width: 85%;
background: white;
padding: 7.5%;
-moz-box-shadow: 0 0 13px #000;
-webkit-box-shadow: 0 0 13px #000;
box-shadow: 0 0 13px #000;
margin-bottom: 17px;
margin-right: 4em;
float: left;
	
}

.gridItemTitle {
	font-family:qhytsdakx;
	font-size:2.5em;
	line-height:1em;
	margin-bottom:.3em;
}

.gridItemDescription {
	font-family:museo-sans-300;
	font-size:1em;
	line-height:1.3em;
}

#toggleSearch {
	font-family:Caviar Dreams;

	color:#fff;	
}

#toggleSearch a, #toggleSearch a:visited, #toggleSearch a:active {
	font-family:Caviar Dreams;

	color:#fff;	
}
#toggleSearch a:hover {text-decoration:underline;font-family:Caviar Dreams;
	
	color:#fff;	
}

#search_cat {
	padding-left:6%;
	width:15%
}

#filter_button{
	text-transform:uppercase;
	font-family:Caviar Dreams;
	font-size:2em;
}

/*logo*/

.logo {
	position: absolute;
	left: 17%;
	bottom: 0px;
/* 	padding-top:7.2em; */
/* 	padding-right:0.5em;  */
/* 	float:right;  */
	width: 82%; 	
}


