/* This is the css for the main index file */

body{
      margin:0;
      background-color: #373737;
  }
  
  @font-face
  {
  font-family: CaviarDreams;
  src: url('../Fonts/CaviarDreams.ttf')
  }

  @font-face
  {
  font-family: CaviarDreams_Bold;
  src: url('../Fonts/CaviarDreams_Bold.ttf')
  }

  @font-face
  {
  font-family: museosans;
  src: url('../Fonts/museo300-regular.otf')
  }

  @font-face
  {
  font-family: museo-slab;
  src: url('../Fonts/Museo_Slab_500.otf')
  }

  @font-face
  {
  font-family: qdark;
  src: url('../Fonts/qhyts__.ttf')
  }

  h1 {
    font-family: qdark, sans-serif;
    font-size: 4em;
      color: #29221c;
      line-height: 1em;
  }

  h2 {
    font-family: museo-slab, serif;
  }

  a{
    text-decoration: none;
  }
  
  p{
    
    font-size: 1.15em;
    margin-right: .3em;
    line-height: 1.7em;
  }
  
  .footerLeft{
    font-family: CaviarDreams;
    font-size: 1.3em;
    color: #373737;
  }

  .footerRight{
    font-family: CaviarDreams;
    font-size: 1.3em;
    color: #C9BDA3;
  }
  .center{
    text-align:center;
  }

  .nav{
      height:30px;
      padding-top:20px;
  }
  
  .nav ul{
      float:center;
      display:inline;

  }
  
  .nav li{
      display:inline;
      
  }

  .tan-box{
      background-color:#d4c7ab;
      margin-bottom:20px;
  }

  ul{
    font-family: museosans, sans-serif;
    margin-top: 20px;
  }

  li{
    margin-right: 10px;
    margin-left: 0px;
    list-style: none;
    padding-top: 5px;
    font-size: 1.3em;
  }

  .spacer{
      margin-top:1em;
      
  }
  
  .container{
      width:1170px;
      margin-left:auto;
      margin-right:auto;
      margin-bottom: 80px;
  }