{% extends 'story_database/base.html' %}

{% block background-image-fallback %}
<div class="hide-on-desktops" id="bg-fallback-stories"></div>
{% endblock %}

{% block video %}
<!-- took out "if not is mobile" page has no mobile interface right now -->

<div class="row">
    <div class="twelve columns">
        <div class="break"></div>
    </div>
</div>

	<div class="row"> <!-- Content Box -->
	<div class="twelve columns">
	    <div id="article-more-box">
					<a href="#"><span class="chapter">CHAPTER 1</span></a><span class="chapter">|</span>
                                        <a href="#"><span class="chapter">CHAPTER 2</span></a><span class="chapter">|</span>
                                        <a href="#"><span class="chapter">CHAPTER 3</span></a>
	
	<div class="textHead">{{headline}}</div>
	<div class="textHead">{{chapter.headline}}</div>
		
		<div class="articleBox">
		    {% for chapter in chapters %}
			
			<div class="textHead">{{chapter.headline}}</div>
			<div class="textSubHead">{{chapter.subheadline}}</div>
			<div class="textP"> {{chapter.body_text|linebreaks }}</div>
			
			{% empty %}
			<div class="textP"> Nothing here. </div>
			
			
			<div class="pullQuote">"{{quote}}"<br> {% if quote_attribution %} -{{quote_attribution}} {% endif %}</div>
		    
		    {% endfor %}
                        <div class="textSubHead">RELATED CONTENT</div>
		    
			{% for related_content in related_content_list %}
             	 
                    	 <div onclick="TINY.box.show({iframe:'{{ related_content.link }}',boxid:'frameless',animate:true, width:1200, height:675, fixed:false})">
                    	 <img src="{{related_content.thumbnail.url}}" width="100%"/>
                    	 <div class="sidebar-text">
                    	 	<div class="sidebarBoxTitle">{{related_content.headline}}</div>
                         	<div class="sidebarBoxP">{{related_content.description}}</div>
			 </div>   

			</div>
		     {% endfor %}
		
                </div> <!-- End Sidebar One -->
		</div>
               
		</div>
	
	</div>
</div>
</div>
</div> <!-- End content box -->


<!-- ////END CONTENT AREA -->
		

{% endblock %}
		
