{% extends 'story_database/base.html' %}

{% block background-image-fallback %}
<div class="hide-on-desktops" id="bg-fallback-stories"></div>
{% endblock %}

{% block video %}
<!-- took out "if not is mobile" page has no mobile interface right now -->





	<div class="row"> <!-- Content Box -->
	<div class="twelve columns">
	    <div id="article-more-box">
		{% for chapter in chapters %}
			<a href="#chapter{{chapter.id }}"><span class="chapter">CHAPTER {{ forloop.counter }} </span></a><span class="chapter">|</span>
                                     
	     {% endfor %}
	     
	     
			
			
			<span class="chapter">{{article.headline}}</span>
	<div class="textHead">{{headline}}</div>
	
		
		<div class="articleBoxText">
		    {% for chapter in chapters %}
			<div class="invisible"><h4><a name="chapter{{chapter.id }}"></a></h4></div>
			
			<div class="panoHead">
			    <video width="100%" loop autoplay>
				<source src="{{chapter.pano_head.h264}}" type="video/mp4">
				<source src="{{chapter.pano_head.ogg}}" type="video/ogg">
				<p>If you are reading this, it is because your browser does not support the HTML5 video element.</p>
			    </video>
			    
			    
			    
			    
			    <img src="{{chapter.pano_head}}" height="300"></img>
			</div>  
			<div class="textHeadArt">{{chapter.headline}}</div>
			<div class="textSubHeadArt">{{chapter.subheadline}}</div>
			
		<!--</div>
		<div class="articleBox">-->
		    <div class="artTextHolder">
			<div class="textPArt">
			    
			    {{chapter.body_text| safe | escape | linebreaks}}
			    
	    </div>
		    
			<div class="pullQuote">"{{chapter.quote}}"<br> {% if chapter.quote_attribution %} -{{chapter.quote_attribution}} {% endif %}</div>
			
			<br />
			
			<div style="clear: both"></div>
			
		    </div>	
			
		    
		    
		    
		    {% endfor %}
		    
			
		
                </div> <!-- End Article Box -->
		</div> <!-- End Article More Box -->
               
		</div> <!-- 12 Columns -->
	
	</div>  <!-- End Row -->

<iframe src="https://player.vimeo.com/video/{{video.vimeo_id}}?&api=1&player_id=player_1&title=0&byline=0&portrait=0" id="player_1" frameborder="0" style="height:0;"></iframe>
<!--including video iframe made the background work? -->

<!-- ////END CONTENT AREA -->


{% endblock %}
		
