<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />
	<title>Living Galapagos</title>
	
	<!-- Included CSS Files -->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/foundation.css">
	<!--<link rel="stylesheet" href="{{ STATIC_URL }}css/dimlights.css">-->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/app.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/font_style.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/tinybox_style.css">
	
	<link rel="stylesheet" href="{{ STATIC_URL }}css/layerslider.css" type="text/css">
		

	<!--[if lt IE 9]>
		<link rel="stylesheet" href="css/ie.css">
	<![endif]-->


	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
  <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css" />
  <!--<script src="{{ STATIC_URL }}js/jquery.min.js"></script>-->
  <script src="{{ STATIC_URL }}js/jquery1.8.3.min.js"></script>
  <!--<script src="{{ STATIC_URL }}js/dimlights.js"></script-->
  <script src="{{ STATIC_URL }}js/jquery.videobackground.js"></script>
  <script src="http://a.vimeocdn.com/js/froogaloop2.min.js"></script> 
  <script src="{{ STATIC_URL }}js/dylancode.js"></script>
  <script src="{{ STATIC_URL }}js/tinybox.js"></script>
  <script src="{{ STATIC_URL }}js/jquery.foundation.tabs.js"></script>
  
  {% if not is_mobile %}
  	<script>
	$(window).load(function() {
		{% for menuslides in menu.menu_slides %}
			$('#{{ menuslides.category_slug }}ContentSlider').orbit({ fluid: '16x6', animation: 'fade', timer: 'false'});
		{% endfor %}
	   });
		
		$(document).ready(function() {
			
 			$('dl').toggle();
			$('h2').bind('click', function(event) {
				event.preventDefault();
				$(this).next('dl').slideToggle(500, function() {
					$('.video-bg-controls').videobackground('resize');
				});
			});
			$('body').prepend('<div class="video-background hide-on-phones hide-on-tablets"></div>');
			$('.video-background').videobackground({
				videoSource: ['{{ background_video.h264_background.url }}',
					'{{ background_video.ogg_background.url }}'], 
				controlPosition: '.video-background',
				poster: '{{ background_video.jpg_background.url }}',
				loop: 'true',  
				resize: 'true',
				loadedCallback: function() {
					$(this).videobackground('mute', {controlPosition: '.video-background'});
				}
			});
			
			buildMenu()
		});
		
		function buildMenu() {
			var openDiv;
			function toggleDiv(divID) {
				$(divID).slideToggle(300, function() {
					openDiv = $(this).is(':visible') ? divID : null;
				});
			}
			$(document).click(function(e) {
				if (!$(e.target).closest(openDiv).length) {
					toggleDiv(openDiv);
				}
			});
			
			$(".clicker").click(function(){
			  toggleDiv('.stories-flyout-container');
			});
			$(".close-flyout").click(function(){
			  toggleDiv('.stories-flyout-container');
			});
		}
	</script>
	{% endif %}
</head>
<body>
{% block background-image-fallback %}
<!--<div class="hide-on-desktops" id="bg-fallback-home"></div> -->
{% endblock %}
<div class="container" > <!-- container -->

		<div class="row hide-on-phones" id="header"> <!------------LOGO AND NAV------------>
        	<div class="twelve columns phone-five">
            	<ul id="header-ul">
                	<li id="logo-li">
                	
						<div class="logo-background"/>
                		<div class="logo"><a href="/{{language}}"><img src="{{ STATIC_URL }}images/logo.png" /></a></div>
                		
				
               		</li>
                	<li id="top-nav-li">
                    	<ul class="topNav">
				
				{% if language == "en" %}
					<li><a href="#" class="clicker">STORIES</a></li>	
					<li><a href="{{ FORCE_SCRIPT_NAME }}/learn/">LEARN</a></li>
					<li><a href="{{ FORCE_SCRIPT_NAME }}/{{language}}/about/">ABOUT</a></li>
					<li><a href="http://livinggalapagos.org/{{spanish_link}}">ESPANOL</a></li>
					<!--<li><a href="{{ FORCE_SCRIPT_NAME }}/{{spanish_link}}">SPANISH</a></li>-->
				{% else %}
					<li><a href="#" class="clicker">HISTORIAS</a></li>
					<!--<li><a href="#">APRENDER</a></li>-->
					<li><a href="{{ FORCE_SCRIPT_NAME }}/{{language}}/about/">SOBRE</a></li>
					<li><a href="http://livinggalapagos.org/{{english_link}}">ENGLISH</a></li>
					<!--<li><a href="{{ FORCE_SCRIPT_NAME }}/{{english_link}}">INGLES</a></li>-->
					<!--<li><a href="{{spanish_link}}">ESPA&#209;OL</a></li>-->
				{% endif %}
					<li style="border:none;"><a href="http://livinggalapagos.web2.jomc.unc.edu/blog/">BLOG</a></li>
                            
			    
                        </ul>
                    </li>
	
            </div>
        </div> <!-- ////END LOGO AND NAV -->
	
	<div class="stories-flyout-container">
    <div class="tabs-background">
    	<div class="row">
        	
                <div class="twelve columns phone-five">
			<div class="stories-inner-nav">
		<div class="menuFont">
                    <dl class="tabs" style="display: none;">
                    {% for menu_slide in menu.menu_slides %}
                    	{% if not forloop.last %}
                    	    {% if forloop.counter0 == 0 %}
                    		<dd ><a href="#{{ menu_slide.category_slug|lower }}">{{ menu_slide.category|upper }}</a></dd>
                    		{% else %}
                    		<dd ><a href="#{{ menu_slide.category_slug|lower }}">{{ menu_slide.category|upper }}</a></dd>
                    		{% endif %}
                    	{% else %}
                    		<dd class="tabs-item-last"><a href="#{{ menu_slide.category_slug|lower }}">{{ menu_slide.category|upper }}</a></dd>
                    	{% endif %}
                    {% endfor %}
                     </dl>
		</div>
                     <a class="close-flyout">&#215;</a>
                </div>
                <!--end twelve columns-->
            </div>
            <!--end stories-inner-nav-->
        </div>
        <!--end row-->
    </div>
    <!--end tabs-background-->
    <div class="row">
                 <ul class="tabs-content">
                  {% for menu_slide in menu.menu_slides %}
                 	{{ menu_slide.menu_item_html|safe }}
                  {% endfor %}
                    
                 </ul>
              </div>

  </div>
  <!--end row-->
</div>
<!--end stories-flyout-container-->
		</ul>
	<div class="container">
    
        <!---phone top nav--->
	
	<div class="row show-on-phones">
		<div class="phone-four" id="phoneLogo">
			<a href="{{ FORCE_SCRIPT_NAME }}/{{language}}"><img src="http://reinhardt.jomc.unc.edu/static/images/logo.png" /></a>
		
		<div id="phoneTopNav">
			<ul class="phoneULtop">
				{% if language == "en" %}
					<li><a href="#" class="clicker">STORIES</a></li>	
					<li><a href="#">LEARN</a></li>
					<li><a href="{{ FORCE_SCRIPT_NAME }}/{{language}}/about/">ABOUT</a></li>
					<!--<li><a href="{{ FORCE_SCRIPT_NAME }}/{{spanish_link}}">SPANISH</a></li>-->
					<li><a href="http://livinggalapagos.org/{{spanish_link}}">ESPANOL</a></li>
				{% else %}
					<li><a href="#" class="clicker">HISTORIAS</a></li>
					<!--<li><a href="#">APRENDER</a></li>-->
					<li><a href="{{ FORCE_SCRIPT_NAME }}/{{language}}/about/">SOBRE</a></li>
					<!--<li><a href="{{ FORCE_SCRIPT_NAME }}/{{english_link}}">INGLES</a></li>-->
					<li><a href="http://livinggalapagos.org/{{english_link}}">ENGLISH</a></li>
					<!--<li><a href="{{spanish_link}}">ESPA&#209;OL</a></li>-->
				{% endif %}
					<li style="border:none;"><a href="http://livinggalapagos.org/blog">BLOG</a></li>  
			</ul>
		</div>
		
		</div>
    </div> 


 		
       
	<!---end phone top nav --->

		<div id="title1">
                	
{% block video %}
<div>Video Goes here</div>
			
		
{% endblock %}
		
</div> <!-- ////END CONTAINER -->
{% if not is_mobile %}
    <div class="footer hide-on-tables hide-on-phones" id="footer"><!------------FOOTER AREA------------>
        <div class="row" >
		<div class="twelve columns">
        	<div id="footer-logo">
			<img src="{{ STATIC_URL }}images/logo.png" width="250px" height="109px"/>
		</div>
        	<div id="footer-links">
        		<div class="footerNav hide-on-phones show-on-tablets">
				<ul>
				
					<li><a href="https://www.facebook.com/LivingGalapagos" target="blank">FACEBOOK</a></li>
					<li><a href="https://twitter.com/livinggalapagos" target="blank">TWITTER</a></li>
				
				{% if language == "en" %}
					<!--<li><a href="#">ISSUES</a></li>-->
					<li><a href="{{ FORCE_SCRIPT_NAME }}/{{language}}/about/">ABOUT</a></li>
					<li><a href="{{ FORCE_SCRIPT_NAME }}/{{spanish_link}}">SPANISH</a></li>
				{% else %}
					<!--<li><a href="#">TEMAS</a></li>-->
					<li><a href="{{ FORCE_SCRIPT_NAME }}/{{language}}/about/">SOBRE</a></li>
					<li><a href="{{ FORCE_SCRIPT_NAME }}/{{english_link}}">INGLES</a></li>
					<!--<li><a href="{{spanish_link}}">ESPA&#209;OL</a></li>-->
				{% endif %}
					<li style="border:none;"><a href="http://livinggalapagos.org/blog">BLOG</a></li>
					<!--<li style="border:none;"><a href="/{{language}}">LIVING GALAPAGOS  &#169; 2013</a></li>-->
				</ul>
			</div>
		</div>
        </div>
    </div>
</div><!--////END FOOTER AREA-->
{% endif %}
    
	<!-- Included JS Files -->

	<script src="{{STATIC_URL}}js/modernizr.foundation.js"></script>
	<script src="{{STATIC_URL}}js/foundation.js"></script>
	<script src="{{STATIC_URL}}js/app.js"></script>
</body>
</html>