<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />
	<title>Living Galapagos</title>
	
	<!-- Included CSS Files -->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/foundation.css">
	<!--<link rel="stylesheet" href="{{ STATIC_URL }}css/dimlights.css">-->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/app.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/font_style.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/tinybox_style.css">
	
	<link rel="stylesheet" href="{{ STATIC_URL }}css/layerslider.css" type="text/css">
		

	<!--[if lt IE 9]>
		<link rel="stylesheet" href="css/ie.css">
	<![endif]-->


	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
  <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css" />
  <!--<script src="{{ STATIC_URL }}js/jquery.min.js"></script>-->
  <script src="{{ STATIC_URL }}js/jquery1.8.3.min.js"></script>
  <!--<script src="{{ STATIC_URL }}js/dimlights.js"></script-->
  <script src="{{ STATIC_URL }}js/jquery.videobackground.js"></script>
  <script src="http://a.vimeocdn.com/js/froogaloop2.min.js"></script> 
  <script src="http://d3js.org/d3.v2.min.js " type="text/javascript"></script>  
  <script src="{{ STATIC_URL }}js/dylancode.js"></script>
  <script src="{{ STATIC_URL }}js/tinybox.js"></script>
  <script src="{{ STATIC_URL }}js/jquery.foundation.tabs.js"></script>
  
  {% if not is_mobile %}
  	<script>
	$(window).load(function() {
		{% for menuslides in menu.menu_slides %}
			$('#{{ menuslides.category_slug }}ContentSlider').orbit({ fluid: '16x6', animation: 'fade', timer: 'false'});
		{% endfor %}
	   });
		
		$(document).ready(function() {
			
			$('dl').toggle();
			$('h2').bind('click', function(event) {
				event.preventDefault();
				$(this).next('dl').slideToggle(500, function() {
					$('.video-bg-controls').videobackground('resize');
				});
			});
			$('body').prepend('<div class="video-background hide-on-phones hide-on-tablets"></div>');
			$('.video-background').videobackground({
				videoSource: ['{{ background_video.h264_background.url }}',
					'{{ background_video.ogg_background.url }}'], 
				controlPosition: '.video-background',
				poster: 'http://reinhardt.jomc.unc.edu/media/uploads/background-video/jpg/BG_Pelican_Sunset.jpg',
				loop: 'true',  
				resize: 'true',
				loadedCallback: function() {
					$(this).videobackground('mute', {controlPosition: '.video-background'});
				}
			});
			
			buildMenu()
		});
		
		function buildMenu() {
			var openDiv;
			function toggleDiv(divID) {
				$(divID).slideToggle(300, function() {
					openDiv = $(this).is(':visible') ? divID : null;
				});
			}
			$(document).click(function(e) {
				if (!$(e.target).closest(openDiv).length) {
					toggleDiv(openDiv);
				}
			});
			
			$(".clicker").click(function(){
			  toggleDiv('.stories-flyout-container');
			});
			$(".close-flyout").click(function(){
			  toggleDiv('.stories-flyout-container');
			});
		}
	</script>
	{% endif %}
</head>
<body>
{% block background-image-fallback %}
<!--<div class="hide-on-desktops" id="bg-fallback-home"></div> -->
{% endblock %}
<div class="container" > <!-- container -->

		<div class="row hide-on-phones" id="header"> <!------------LOGO AND NAV------------>
        	<div class="twelve columns phone-five">
            	<ul id="header-ul">
                	<li id="logo-li">
						<div class="logo-background"/>
                		<div class="logo"><a href="/{{language}}"><img src="{{ STATIC_URL }}images/logo.png"/></a></div>
               		</li>
                	<li id="top-nav-li">
                    	<ul class="topNav">
				
				{% if language == "en" %}
					<li><a href="#" class="clicker">STORIES</a></li>	
					<li><a href="learn/">LEARN</a></li>
					<li><a href="{{language}}/about/">ABOUT</a></li>
					<li><a href="{{spanish_link}}">SPANISH</a></li>
				{% else %}
					<li><a href="#" class="clicker">HISTORIAS</a></li>
					<!--<li><a href="#">APRENDER</a></li>-->
					<li><a href="{{language}}/about/">SOBRE</a></li>
					<li><a href="{{english_link}}">INGLES</a></li>
					<!--<li><a href="{{spanish_link}}">ESPA&#209;OL</a></li>-->
				{% endif %}
					<li style="border:none;"><a href="http://livinggalapagos.org/blog">BLOG</a></li>
                            
			    
                        </ul>
                    </li>
	
            </div>
        </div> <!-- ////END LOGO AND NAV -->
	
	<div class="stories-flyout-container">
    <div class="tabs-background">
    	<div class="row">
        	<div class="stories-inner-nav">
                <div class="twelve columns">
		<div class="menuFont">
                    <dl class="tabs" style="display: none;">
                    {% for menu_slide in menu.menu_slides %}
                    	{% if not forLoop.last %}
                    		<dd class="active"><a href="#{{ menu_slide.category }}">{{ menu_slide.category|upper }}</a></dd>
                    	{% else %}
                    		<dd class="tabs-item-last"><a href="#{{ menu_slide.category }}">{{ menu_slide.category }}</a></dd>
                    	{% endif %}
                    {% endfor %}
                     </dl>
		</div>
                     <a class="close-flyout">&#215;</a>
                </div>
                <!--end twelve columns-->
            </div>
            <!--end stories-inner-nav-->
        </div>
        <!--end row-->
    </div>
    <!--end tabs-background-->
    <div class="row">
                 <ul class="tabs-content">
                  {% for menu_slide in menu.menu_slides %}
                 	{{ menu_slide.menu_item_html|safe }}
                  {% endfor %}
                    
                 </ul>
              </div>

  </div>
  <!--end row-->
</div>
<!--end stories-flyout-container-->
		</ul>
	<div class="container">
    
        <!---phone top nav--->
	
	<div class="row show-on-phones">
		<div class="phone-four" id="phoneLogo">
			<a href="/{{language}}"><img src="http://reinhardt.jomc.unc.edu/static/images/logo.png" /></a>
		
		<div id="phoneTopNav">
			<ul class="phoneULtop">
				{% if language == "en" %}
					<li><a href="#" class="clicker">STORIES</a></li>	
					<li><a href="#">LEARN</a></li>
					<li><a href="{{language}}/about/">ABOUT</a></li>
					<li><a href="{{spanish_link}}">SPANISH</a></li>
				{% else %}
					<li><a href="#" class="clicker">HISTORIAS</a></li>
					<!--<li><a href="#">APRENDER</a></li>-->
					<li><a href="{{language}}/about/">SOBRE</a></li>
					<li><a href="{{english_link}}">INGLES</a></li>
					<!--<li><a href="{{spanish_link}}">ESPA&#209;OL</a></li>-->
				{% endif %}
					<li style="border:none;"><a href="http://livinggalapagos.org/blog">BLOG</a></li>  
			</ul>
		</div>
		
		</div>
    </div> 


 		
       
	<!---end phone top nav --->

		<div id="title1">
                	
{% block video %}
<div>Video Goes here</div>
			
		
{% endblock %}
		




<!--sidebar content that used to be in right column but is now in main section -->

{% if related_content_list|length > 0 %}
            <!--<div class = "four columns hide-on-phones" style="padding: .5em; margin: -.5em;"> <!------------SIDEBAR AREA------------>  
            <!--  <div class="row"><!-- Create Text Above Div -->
                    <!--<div class ="twelve columns phone-four">
                        <div class="divNav">RELATED CONTENT</div>
                    </div>
	      </div>
          <!-- End Text Above Div -->
                  
              {% for related_content in related_content_list %}
             <!-- <div class="row"> <!-- Sidebar One -->    
                    <!--<div class="sidebar-item twelve columns phone-four">
                    	<div class="sidebar-holder">	 
                    	 <div onclick="TINY.box.show({iframe:'{{ related_content.link }}',boxid:'frameless',animate:true, width:1200, height:675, fixed:false})">
                    	 <img src="{{related_content.thumbnail.url}}" width="100%"/>
                    	 <div class="sidebar-text">
                    	 	<div class="sidebarBoxTitle">{{related_content.headline}}</div>
                         	<div class="sidebarBoxP">{{related_content.description}}</div>
                    	 </div>
                         </div>
                         </div>
                    </div>
                </div> <!-- End Sidebar One -->
                {% endfor %}
                    
           <!-- </div> <!-- ////END SIDEBAR AREA -->
            
            {% endif%}    
       <!-- </div><!-- ////END CONTENT/SIDEBAR ROW -->

<!--END sidebar content that used to be in right column but is now in main section -->

	<!---phone nav--->
        <!--<a id="stories"></a>
	<div class="row hide-on-desktops" style="margin-top: 5%;">
	
		<div class="twelve columns centered" style="background-image: url('http://reinhardt.jomc.unc.edu/static/images/nav_bg.png');">
			<div class="row">
			<div class="twelve columns phoneNavCat">
				<img src="http://reinhardt.jomc.unc.edu/static/images/icon-cat2.png"/>SEA
			</div>
			</div>
			<div style="margin: 5%;">
				<div class="row">
				{% for category_story in category_sea_stories %}
					
					{% if category_story.thumbnail %}
					{% if forloop.counter0|divisibleby:"4" %}
				</div>
				<div class="row">
					{% endif %}
					<div class="three mobile-three columns">
					
					
						<a href="/{{language}}/{{category_story.slug}}/"><img style="width: 100%;" src="{{ category_story.thumbnail.url}}"/>
						<p class="phoneNavTitle">
							{{ category_story.title }}
						</p>
						</a>
					</div>
					{% endif %}
					
				
				{% endfor %}
				</div>
			</div>
			
			<div class="row">
			<div class="twelve columns phoneNavCat">
				<img src="http://reinhardt.jomc.unc.edu/static/images/icon-cat1.png"/>LAND
			</div>
			</div>
			
			<div style="margin: 5%;">
				<div class="row">
				{% for category_story in category_land_stories %}
					{% if category_story.thumbnail %}
					{% if forloop.counter0|divisibleby:"4" %}
				</div>
				<div class="row">
					{% endif %}
					{% if forloop.last %}
					<div class="three mobile-three columns end">
					{% else %}
					<div class="three mobile-three columns">
					{% endif %}
						<a href="/{{language}}/{{category_story.slug}}/"><img style="width: 100%;" src="{{ category_story.thumbnail.url}}" style="max-width:100%"/>
						<p class="phoneNavTitle">
							{{ category_story.title }}
						</p>
						</a>
					</div>
					{% endif %}
				{% endfor %}
				</div>
			</div>
		</div>
	</div>-->
	<!---end phone nav--->
        
        
		
			
        <div class="body-row row hide-on-phones"> <!------------R-BAR------------>
            {% if resource_list|length > 1 %}
        	<div class="six columns"><!------------RESOURCES AREA------------>
                
				<div class="row"><!-- Create Text Above Resources -->
                	<div class="twelve columns">
                    	<div class="divNav">RESOURCES</div>
                    </div>
                </div><!-- End Text Above Resources -->
                
                 <div class="row" id="resources-box"><!--Create Resources box-->
                    {% for resource in resource_list %}
                    {% if forloop.counter < 4 %}
                    <div class="row" id="top-resources"><!-- Create Top Resources Row -->
                        <div class="three columns">
                        <a href="{{resource.url}}">
                            <img src="{{resource.resource_image.url}}"/>
                        </a>
                        </div>
                                                 
                    </div><!-- Ends Top Resources Row -->
                    {% else %}
                    <div class="row" id="bottom-resources"><!-- Create Bottom Resources Row -->
                        <div class="three columns">
                        <a href="{{resource.url}}">
                            <img src="{{resource.resource_image.url}}"/>
                        </a>
                        </div>
                                                      
                    </div>
                    {% endif %}
                    {% endfor %}
                    <!-- Ends Bottom Resources Row -->
                </div><!--End Resources box-->

            </div> <!------------//// END RESEARCH AREA------------>
            {% endif %}
            
            {% if research_list|length > 1 %}
        	<div class="six columns"><!------------RELATED RESEARCH AREA------------>
            
				<div class="row"><!-- Create Text Above Research -->
                <div class="divNav">RESEARCH</div>
                	<div class="twelve columns">
                    </div>
                </div><!-- End Text Above Research -->
	        <div class="row"><!--Create Research Box-->
                	{% for research in research_list %}
                    <div class="twelve columns" id="research-box">
                    	<div class="researchTitle">{{research.title}}</div>
                        <div class="institute">{{research.institute}}</div>
                        <div class="researchP">{{research.short_description}}</div>
                    </div> {% endfor %}
                </div><!--End Research Box-->
                
            </div><!--////END RELATED RESEARCH AREA-->
           {% endif %}
            
        </div><!--////END R-BAR-->
    
</div> <!-- ////END CONTAINER -->
{% if not is_mobile %}
    <div class="footer hide-on-tables hide-on-phones" id="footer"><!------------FOOTER AREA------------>
        <div class="row" >
		<div class="twelve columns">
        	<div id="footer-logo">
			<img src="{{ STATIC_URL }}images/logo.png" width="250px" height="109px"/>
		</div>
        	<div id="footer-links">
        		<div class="footerNav hide-on-phones show-on-tablets">
				<ul>
				
					<li><a href="http://www.facebook.com">FACEBOOK</a></li>
					<li><a href="http://www.twitter.com">TWITTER</a></li>
				
				{% if language == "en" %}
					<li><a href="#">ISSUES</a></li>
					<li><a href="{{language}}/about/">ABOUT</a></li>
					<li><a href="{{spanish_link}}">SPANISH</a></li>
				{% else %}
					<li><a href="#">TEMAS</a></li>
					<li><a href="{{language}}/about/">SOBRE</a></li>
					<li><a href="{{english_link}}">INGLES</a></li>
					<!--<li><a href="{{spanish_link}}">ESPA&#209;OL</a></li>-->
				{% endif %}
					<li style="border:none;"><a href="http://livinggalapagos.org/blog">BLOG</a></li>
					<!--<li style="border:none;"><a href="/{{language}}">LIVING GALAPAGOS  &#169; 2013</a></li>-->
				</ul>
			</div>
		</div>
        </div>
    </div>
</div><!--////END FOOTER AREA-->
{% endif %}
    
    





	<!-- Included JS Files -->

	<script src="{{STATIC_URL}}js/modernizr.foundation.js"></script>
	<script src="{{STATIC_URL}}js/foundation.js"></script>
	<script src="{{STATIC_URL}}js/app.js"></script>
</body>
</html>