{% extends 'story_database/base.html' %}

{% block background-image-fallback %}
<div class="hide-on-desktops" id="bg-fallback-home"></div>
{% endblock %}

{% block video %}
{% if not is_mobile %}

<div class="row">
	<div class="twelve columns">
	<a href="#section1" class="nav-toggle">
		<span id="top-cream-bar" >
			<div class="arrow-yes">
				
			</div>
			<div class="arrow-no">
					<img src="../../static/images/video-arrow.png" style="float: left; display: inline; margin: .3em 1em"/>
					<div class="textSubHeadVideo">WATCH VIDEO: {{storyTitle}}</div>
				</div>
		</span>
	</a>
	</div>
</div>

<div id="section1">		
<div class="row" id="vidrow-home"><!-- video player row -->
	<div class="twelve columns phone-four" id="video-row" >
            
		<div class="row"><!-- Creates row so nav/icon div doesn't go over cream color -->
			<div class="twelve columns phone-four" id="vidrow2">
				<div id="homePlayBtn" ><img src="{{ STATIC_URL }}images/play.png"></div>
				
				<div class="row hide-on-phones"> <!------------ICON DIV------------>
					<div class="twelve columns" id="icons-div-home">
						
					</div>
				</div> 
				<!-- ////END ICON DIV -->
               
                <!------------SIDEBAR DIV------------>
                <div class="row hide-on-phones"> 

					<div id="sidebar-div">
						<!--<div class="buttons" id="topbutton">
							<div class="scroll-btn" id="up-btn">
								<img src="{{ STATIC_URL }}/images/uparrow.png"/>
							</div>
						</div>-->
						<!--<div id="slidemenu">
							<div class="scroll" id="videotext">
								<img src=" {{ title_card.url }}"/>
							</div>
                            <div class="scroll" id="scroll-cat1">
								<span class="shadow">SEA</span><br>
								{% for category_story in category_sea_stories %}
                                	{% if category_story.thumbnail %}
									<div class="menu-img">
										<a href="/{{language}}/{{category_story.slug}}/"><img src="{{ category_story.thumbnail.url}}"/>
											<div class="menu-hover">
												<p>{{ category_story.title }}</p>
											</div>
                                        </a>
                                   </div>
                                   {% endif %}
								{% endfor %}
							</div>
                                    
							<div class="scroll" id="scroll-cat2">
								<span class="shadow">LAND</span><br>
								{% for category_story in category_land_stories %}
									{% if category_story.thumbnail %}
									<div class="menu-img">
										<a href="/{{language}}/{{category_story.slug}}/"><img src="{{ category_story.thumbnail.url}}" style="max-width:100%"/>
											<div class="menu-hover">
												<p>{{ category_story.title }}</p>
											</div>
										</a>
									</div>
									{% endif %}
								{% endfor %}
							</div>

							<div class="scroll" id="scroll-search">SEARCH</div>
                                    
						</div>-->
						<!--////end slidemenu-->
						<!--<div class="buttons" id="botbutton">
							<div class="scroll-btn" id="down-btn">
								<img src="{{ STATIC_URL }}/images/downarrow.png"/>
							</div>
						</div>-->
                                
					</div>
					<div class="twelve columns" id="rightFloatBar"></div>
				</div> <!-- ////END SIDEBAR DIV -->
                         
				
				
				<div class="eleven columns centered" id="video-div"><!------------VIDEO------------>
					<div class="flex-video widescreen vimeo" id="flex-video">
						<iframe src="https://player.vimeo.com/video/{{video.vimeo_id}}?&api=1&player_id=player_1&title=0&byline=0&portrait=0" id="player_1" frameborder="0" style="height:0;"></iframe>
					
					</div>
				</div><!-- ////END VIDEO -->
			
			</div>
		</div> <!-- End row above bottm cream bar -->
	</div>
</div>

 
 <!-- closes video segment -->

<div class="row" id="bottom-cream-bar-container">
	<div class="twelve columns" id="bottom-cream-bar" ></div>
</div> <!-- End bottom cream bar -->


<div class="clear-float"></div>
</div> <!--closes section 1-->
		
		<a href="#section1" class="nav-toggle">Close Video</a> <!-- link that closes video -->
{% endif %}
{% if is_mobile %}
<div class="row" id="vidrow-home"><!-- video player row -->
  <div class="twelve columns phone-four" id="video-background" style="z-index: 10; background-image: url('http://reinhardt.jomc.unc.edu/static/images/nav_bg.png');">          
        <div class="eleven columns centered" id="video-div"><!------------VIDEO------------>
	  <div class="flex-video widescreen vimeo">
	    <iframe src="http://player.vimeo.com/video/{{video.vimeo_id}}?&api=1&player_id=player_1&title=0&byline=0&portrait=0" id="player_1" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	  </div>
	</div><!-- ////END VIDEO -->
      </div>
</div>


{% endif %}



<div class = "body-row row"> <!------------CONTENT AREA------------>
	{% if related_content_list|length > 0 %}
		<div class = "twelve columns"> <!------------CONTENT AREA------------>
	{% else %}
		<div class = "twelve columns"> <!------------CONTENT AREA------------>
	{% endif %}
		<!--<div class="row"> 
			<div class="twelve columns">
			{% if language == 'en' %}
				<div class="divNav">MORE</div>
			{% else %}
				<div class="divNav">M&#193;S</div>
			{% endif %}
			</div>
		</div>-->  <!-- End Text Above Div -->
	<div class="row"> <!-- Content Box -->
	<div class="twelve columns" id="more-box">
		
		<div class="info-background">
			<div class="textHead">{{category_header.title}}</div>
			<div class="textSubHead">{{category_header.description}}</div>
			<img src="http://localhost:8000/media/{{category_header.background_image}}"/>
		</div>
		
		<div class="row">
		<div class="eight columns">
		<div class="storyBox">
			<div class="textHead">{{headline}}</div>
			<div class="textSubHead">{{subheadline}}</div>
			{% if story.about_text %}
			<div class="textP"> {{story.about_text|linebreaks }}</div>
			{% else %}
			<div class="textP"> {{description|linebreaks }}</div>
			{% endif %}
			<div class="pullQuote">"{{quote}}"<br> {% if quote_attribution %} -{{quote_attribution}} {% endif %}</div>
			
			</div>
		</div>
		<div class="four columns">
		<div class="contentBox">
			<div class="textSubHead">RELATED CONTENT</div>
			{% for related_content in related_content_list %}
             	 
                    	 <div onclick="TINY.box.show({iframe:'{{ related_content.link }}',boxid:'frameless',animate:true, width:1200, height:675, fixed:false})">
                    	 <img src="http://localhost:8000/media/{{related_content.thumbnail.url}}" width="100%"/>
                    	 <div class="sidebar-text">
                    	 	<div class="sidebarBoxTitle">{{related_content.headline}}</div>
                         	<div class="sidebarBoxP">{{related_content.description}}</div>
			 </div>   	
                    </div>
                </div> <!-- End Sidebar One -->
		</div><!-- end three columns -->
		
		</div>
                {% endfor %}
		</div> 
	</div>
</div>
</div> <!-- End content box -->

<div class="row">
    <div class="twelve columns">
        <div class="break"></div>
    </div>
</div>
<div class="dim"></div>
<!-- ////END CONTENT AREA -->
		
{% endblock %}		        

