{% extends 'story_database/base.html' %}

{% block background-image-fallback %}
<div class="hide-on-desktops" id="bg-fallback-stories"></div>
{% endblock %}    
{% block video %}

<div class="row">
    <div class="twelve columns">
        <div class="break"></div>
    </div>
</div>

	<div class="row"> <!-- Content Box -->
	<div class="twelve columns" id="article-more-box">
		
		
		<div class="articleBox">
		<div class="textHead">Welcome to the Learn Page</div>
                    <div class="textP">Here is some text about what the learn page will teach visitors about.</div>
             	 
			</div>
		
		
                </div> 
		</div> <!-- End Article Box -->
                
        
        
        <div class="row">
	<div class="twelve columns">
	
		<iframe width="100%" height="650" scrolling=no frameborder="0" src="http://caseymmiller.com/galapagos/forceGraph/learnWeb.html"></iframe>
	</div>
</div>
        
        
        <div class="row"> <!-- Content Box -->
        
        <div class="four columns" id="article-more-box">
		
		
		<div class="articleBoxThin">
		<div class="textHead">News Feed</div>
             	 
                 <iframe width="100%" height="550" scrolling=yes frameborder="0" src="http://caseymmiller.com/galapagos/news/"></iframe>
                 
			</div>
		
		
                </div> 
		
        
        
	<div class="seven columns" id="article-more-box">
		
		
		<div class="articleBox">
		<div class="textHead">Instagram</div>
                    <iframe width="100%" height="527" scrolling=no frameborder="0" src="http://caseymmiller.com/galapagos/instagram/lightview-3.2.7/example/"></iframe>
             	 
			</div>
		
		
                </div> 
		</div> <!-- End Article Box -->
                
	</div> <!-- End Row-->
        
        <div class="row">
    <div class="twelve columns">
        <div class="break"></div>
    </div>
</div>
        
        
        <div class="row"> <!-- Content Box -->
        
        <div class="four columns" id="article-more-box">
		
		
		<div class="articleBoxThin">
		<div class="textHead">Twitter</div>
             	 <iframe width="100%" height="500" scrolling=yes frameborder="0" src="http://caseymmiller.com/galapagos/jTweetsAnywhere/gTwitter.html"></iframe>
			</div>
		
		
                </div> 
		
        
	<div class="seven columns" id="article-more-box">
		
		
		<div class="articleBox">
		<div class="textHead">Reports</div>
             	 
			</div>
		
		
                </div> 
		
	</div> <!-- End Row-->
        
        
</div>
</div> <!-- End content box -->


<!-- ////END CONTENT AREA -->
		

{% endblock %}
		
