<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />
	<title>Living Galapagos</title>
  	
	<!-- Included CSS Files -->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/foundation.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/app.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font_style.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/tinybox_style.css">

	<!--[if lt IE 9]>
		<link rel="stylesheet" href="css/ie.css">
	<![endif]-->


	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
  <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css" />
  <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
  <script src="{{ STATIC_URL }}js/jquery.videobackground.js"></script>

{% if not is_mobile %}
  <script src="{{ STATIC_URL }}js/tinybox.js"></script>
  	<script>
			$(document).ready(function() {
				$('dl').toggle();
				$('h2').bind('click', function(event) {
					event.preventDefault();
					$(this).next('dl').slideToggle(500, function() {
						$('.video-bg-controls').videobackground('resize');
					});
				});
				$('body').prepend('<div class="video-background hide-on-phones"></div>');
				$('.video-background').videobackground({
					videoSource: ['{{ background_video.h264_background.url }}',
						'{{ background_video.ogg_background.url }}'], 
					controlPosition: '.video-background',
					poster: '{{ background_video.jpg_background.url }}',
					loop: 'true', 
					resize: 'true',
					loadedCallback: function() {
						$(this).videobackground('mute', {controlPosition: '.video-background'});
					}
				});
			});
		</script>
	{% endif %}
</head>
<body>
<div class="container"> <!-- container -->
    
		

		<div class="row" id="header"> <!------------LOGO AND NAV------------>
        	<div class="twelve columns phone-four">
            	<ul id="header-ul">
                	<li id="logo-li">
						<div class="logo-background"/>
                		<div class="logo"><a href="/{{language}}"><img src="{{ STATIC_URL }}images/logo.png"/></a></div>
               		</li>
                	<li id="top-nav-li">
                    	<ul class="topNav">
							
                            <!--<li><a href="{{language}}/credits/">CREDITS</a></li>-->
                           {% if language == "en" %}
                            <li><a href="/en/search">ENGLISH</a></li>
                            <li><a href="/es/search">SPANISH</a></li>
                            <li><a href="/{{language}}/about/">ABOUT</a></li>
                            {% else %}
                            <li><a href="/en/search">INGLES</a></li>
                            <li><a href="/es/search">ESPAÑOL</a></li>
                            <li><a href="/{{language}}/about/">SOBRE</a></li>
                            {% endif %}
                            <li style="border:none;"><a href="http://livinggalapagos.org/blog">BLOG</a></li>  
                        </ul>
                    </li>
                	<li id="top-cream-bar"></li>
                </ul>
            </div>
        </div> <!-- ////END LOGO AND NAV -->
    
    
    <form action="." method="get">
       <div class="row">
        <div class="twelve columns" id="filterBox" style="background-image:url({{ STATIC_URL }}images/nav_bg.png); height:100%;">
        <div id="filterStories" style="padding-left: 2.5em;"><h1>FILTER STORIES</h1>
        <div class="row">
        	<div class="three columns">
        			<table>
		            {{ form.as_table }}
		            <tr>
		                <td>&nbsp;</td>
		                <td>
		                    <input type="submit" value="Search">
		                </td>
		            </tr>
		        </table>
        	</div>
        	
        </div>
        
        </div>
        </div>
        </div>
    </form>
        
        
        <div class="row" id="toggleSearch">
	  <div class="divNav">
		VIEW: <a href="/{{ language }}/search/">GRID</a> | <a href="/{{language}}/search/map/">MAP</a>
	  </div>
        
        <ul class="block-grid three-up mobile">
        	{% if query %}
        	{{ language }}
        	{% for result in page.object_list %}
			{% if result.story_thumbnail %}
			<li>
			  <a href="/{{result.language}}/{{result.story_slug}}">
				<div class="gridItem">
				 
					<img src="{{result.story_thumbnail}}" width="100%"/>
			    <div class="sidebarBoxTitle">{{ result.headline }}</div>
					<div class="sidebarBoxP" style="color: #555; ">{{ result.single_line_description }}</div>
			     
				</div>
			  </a>
			</li>
			{% endif %}
        	{% endfor %}
        	{% endif %}
        </ul>
        </div>
                        
	</div>	<!-- ////END CONTAINER -->
    
        
 <div id="footer"><!------------FOOTER AREA------------>    
     
     	<div id="footer-logo">
         	<img src="{{ STATIC_URL }}images/logo.png" width="250px" height="109px"/>
         </div>

     	<div id="footer-links">
         	<div class="footerNav hide-on-phones hide-on-tablets">
         	<ul>
             
         		<li><a href="http://www.facebook.com">FACEBOOK</a></li>
          	<li><a href="http://www.twitter.com">TWITTER</a></li>
          {% if language == "en" %}
         		<li><a href="{{language}}/about/">ABOUT</a></li>
          	<li><a href="/en/search/">ENGLISH</a></li>
          	<li><a href="/es/search/">SPANISH</a></li>
          {% else %}
          	<li><a href="{{language}}/about/">SOBRE</a></li>
          	<li><a href="/en/search/">INGLES</a></li>
                 <li><a href="/es/search/">ESPAÑOL</a></li>
             {% endif %}
          	<li style="border:none;"><a href="/{{language}}">LIVING GALAPAGOS © 2012</a></li>
                 
             </ul>
             </div>
         </div>
         
 </div><!--////END FOOTER AREA-->





	<!-- Included JS Files -->

	<script src="{{STATIC_URL}}js/modernizr.foundation.js"></script>
	<script src="{{STATIC_URL}}js/foundation.js"></script>
	<script src="{{STATIC_URL}}js/app.js"></script>
</body>
</html>

